*{
    /*border: 1px solid rgb(83, 83, 83);*/
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

html{
    scroll-behavior: smooth;
}

header, #accueil, #conteneur_article, #galerie div{
    display: flex;
    flex-flow: row wrap;
}

 #accueil, #inscription, #tableau, #article, #vidéo, #galerie {
    min-height: 100vh;
    width: 100%;
    min-width: 100%;
    height: fit-content;
}

#tableau, #inscription, #article h1, #article h2, #vidéo, #galerie, header{
    color: white;
}

#contacts{
    width: 100%;
    min-width: 100%;
    padding: 20px;
    height: fit-content;
}

/*-------arrière plans------------------*/
#accueil{
    background-image: url("../images/background/bg1.jpg");
    background-size: cover;
}
#inscription{
    background-image: url("../images/background/bg2.jpg");
    background-size: cover;
}
#tableau{
    background-image: url("../images/background/bg3.jpg");
    background-size: cover;
}
#article{
    background-image: url("../images/background/bg4.jpg");
    background-size: cover;
}
#vidéo{
    background-color: #0c0c41;
    background-size: cover;
}
#galerie{
    background-color: #464187;
    background-size: cover;
}

#contacts{
    background-color: black;
}

/*------header--------------------*/
header {
    width: 100%;
    background-color: #1553beff;
    border: 5px double white;
    position: fixed;
    align-items: center;
    justify-content: space-around;

    z-index: 3;
}

header > h1{
    margin: 0;
    padding: 5px;
}

header a {
    color: white;
}

header a:hover{
    color: gold;
}

/*------accueil------------------------*/

#accueil{
    display: flex;
    align-content: flex-end;
    justify-content: flex-end;
}

.titre, .description{
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid black;
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
}

.description{
    height: 9rem;
    align-content: center;
    font-size: 13px;
    text-align: center;
    justify-content: center;

    display: flex;
    flex-direction: column;
}

#accueil a{
    color: black;
    text-decoration: none;
}

.titre{
    height: 3rem;
    width: 23rem;
    font-size: 25px;
    text-align: center;
    justify-content: center;

    position: absolute;
    top: 13rem;
    left: 20px;
}

/*----Inscription------------------------------*/

#inscription h1{
    background-color: #0c0c41c0;
    width: 50rem;
    border: 2px solid white;
    border-radius: 10px;
}

fieldset{
    border: 2px solid white;
    border-radius: 20px;
    background-color: rgba(21, 83, 190, 0.75);
    width: 30rem;
}

.label_input{
    padding: 20px 40px 20px 40px;
}

.espace{
    display: flex;
    justify-content: space-around;
}

form {
    width: 50rem;
    justify-content: center;
    align-content: center;
    margin-left: 75px;
}

/*-----tableau-------------------*/

#tableau{
    align-content: center;
}

table, caption, th{
    background-color: rgba(21, 83, 190, 0.75);
    border: 2px solid white;
    padding: 15px;
    margin: 30px;
}

td{
    border: 1px solid white;
    padding: 5px;
}

.none{
    border: none;
}

caption{
    width: 30rem;
    border-radius: 10px;
}

/*--------article----------------*/

#conteneur_article{
    background-color: #0c0c41c0 ;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    height: 770px;
}

#article h1{
    text-transform: uppercase;
}

#conteneur_article p{
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
    font-weight: bold;
    line-height: 25px;
    padding: 10px;
    height: 575px;
    transform: translateY(-600px);
    transition: background-color 2s;
}

#conteneur_article p:hover{
    background-color: rgba(255, 255, 255, 0);
    color: rgba(255, 255, 255, 0);
}

.conteneur, article img{
    width:275px;
    height: auto;
    text-align: center;
}


/*-------vidéo-----------------------*/
#vidéo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*-------galerie-----------------------*/

#galerie{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

#galerie h2, #galerie p{
    text-align: center;
    padding: 10px;
}

#galerie div{
    display: flex;
    justify-content: center;
    align-items: center;
}

#galerie img {
    width: 225px;
    height: auto;
    margin: 10px;

    border: 3px solid gold;
    border-radius: 10px;
}


 /*-----footer---------------*/

#contacts{
    color: white;
    align-content: center;
    text-align: center;
    padding: 30px 0px 10px 0px;
}

#contacts p {
    padding: 5px;
}

.petit_text{ 
    margin: 20px 0px 0px 0px;
    font-size: 12px;
}

.icon{
    font-size: 25px;
    margin: 20px 10px 10px 10px;
}
